@page
@model Admin.Pages.Medias.CreateModel
@using Core.Enums
@{
    ViewData["Title"] = "Create";
}

<h1>Create media</h1>

<div class="text-danger text-opacity-75" asp-validation-summary="All">

</div>
<div class="row">
    <div class="col">
        <form method="post" class="text-center" enctype="multipart/form-data" id="post_form">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <ul class="nav nav-pills card-header-pills">
                        @foreach (var item in Model.ActiveLanguages)
                        {
                            var strItem = Model.LanguageIdToCode(item);
                            <li class="nav-item">
                                <a id='@($"lang_nav_{strItem}")' class="nav-link" aria-current="true" href="#">@strItem</a>
                            </li>
                        }
                    </ul>
                    <div class="btn-group" role="group" aria-label="Select media type">
                        <input type="radio" class="btn-check" name="btnradio" id="image" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="image">Image</label>

                        <input type="radio" class="btn-check" name="btnradio" id="audio" autocomplete="off">
                        <label class="btn btn-outline-primary" for="audio">Audio</label>

                        <input type="radio" class="btn-check" name="btnradio" id="video" autocomplete="off">
                        <label class="btn btn-outline-primary" for="video">Video</label>
                    </div>
                </div>
                <input hidden asp-for="@Model.Media.MediaTypeId" />
                @for (var i = 0; i < Model.Media.MediaTranslations.Count; i++)
                {
                    <div id='@($"lang_body_{ Model.LanguageIdToCode(Model.Media.MediaTranslations[i].LanguageId)}")' class="card-body">
                        <input hidden asp-for="@Model.Media.MediaTranslations[i].LanguageId" />

                        <label asp-for="@Model.Media.MediaTranslations[i].Title" class="control-label"></label>
                        <input asp-for="@Model.Media.MediaTranslations[i].Title" class="form-control" />
                        <span asp-validation-for="@Model.Media.MediaTranslations[i].Title" class="text-danger"></span>

                        <label asp-for="@Model.Media.MediaTranslations[i].Description" class="control-label"></label>
                        <textarea type="text" rows="3" asp-for="@Model.Media.MediaTranslations[i].Description" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Media.MediaTranslations[i].Description" class="text-danger"></span>
                        <br />

                        @*<label asp-for="@Model.Media.MediaTranslations[i].Url" class="control-label"></label>*@
                        <input asp-for="@Model.Files[Model.Media.MediaTranslations[i].LanguageId]" type="file" class="form-control" accept="audio/*,video/*,image/*,MIME_type" id='@($"select_file_{ Enum.GetName<LanguageEnum>(Model.Media.MediaTranslations[i].LanguageId)}")' />
                        <input hidden name="Files[@Model.Media.MediaTranslations[i].LanguageId].Key" value="@Model.Media.MediaTranslations[i].LanguageId" />
                        <span asp-validation-for="@Model.Media.MediaTranslations[i].Url" class="text-danger"></span>
                        <div id='@($"preview_file_{ Model.LanguageIdToCode(Model.Media.MediaTranslations[i].LanguageId)}")' class="preview">
                            <p>No files currently selected for upload</p>
                        </div>
                    </div>
                }
                <input type="submit" class="btn btn-primary m-3" value="Create" id="submit_create" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/media.js"></script>
    <script>
        $.validator.setDefaults({ ignore: '' });
        let langs = @(Json.Serialize(Model.ActiveLanguages.Select(Model.LanguageIdToCode)));
        $(document).ready(function () {
            $('#submit_create').attr('disabled', true);
            $('#post_form').on('change', function () {
                $('#submit_create').attr('disabled', !$('#post_form').valid());
            });
            clearall(langs);
            $('@($"#lang_nav_{Model.LanguageIdToCode(Model.ActiveLanguages.First())}")').addClass("active");
            $('@($"#lang_body_{Model.LanguageIdToCode(Model.ActiveLanguages.First())}")').removeAttr("hidden");
            @foreach (var item in Model.ActiveLanguages.Select(Model.LanguageIdToCode))
            {
                @:$('@($"#lang_nav_{item}")').on("click", function()
                @:{
                    @:clearall(langs);
                    @:$('@($"#lang_nav_{item}")').addClass("active");
                    @:$('@($"#lang_body_{item}")').removeAttr("hidden");
                @:});
                @:$('@($"#select_file_{item}")').on('change', function () {
                    @:var preview = $(`#preview_file_${getactivetab(langs)}`);
                    @:preview.children().remove();
                    @:var mediaType = this.files[0].type;
                    @:var mediaClass = mediaType.split('/')[0];
                    @:var htmlTag = createmediafromclass(mediaClass, window.URL.createObjectURL(this.files[0]));
                    @:preview.prepend(htmlTag);
                @:});
            }
        });
    </script>
}