@page
@model Admin.Pages.Medias.CreateModel
@using Core.Enums
@{
    ViewData["Title"] = "Create";
}

<h1>Create media</h1>

<div class="text-danger text-opacity-75" asp-validation-summary="All">

</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    @foreach (var item in Enum.GetNames<LanguageEnum>())
                    {
                        <li class="nav-item">
                            <a id='@($"lang_nav_{item}")' class="nav-link" aria-current="true" href="#">@item</a>
                        </li>
                    }
                </ul>
            </div>
            <form method="post" class="text-center" enctype="multipart/form-data">
                <input hidden asp-for="@Model.Media.MediaTypeId" />
                @for (var i = 0; i < Model.Media.MediaTranslations.Count; i++)
                {
                    <div id='@($"lang_body_{ Enum.GetName<LanguageEnum>(Model.Media.MediaTranslations[i].LanguageId)}")' class="card-body">
                        <input hidden asp-for="@Model.Media.MediaTranslations[i].LanguageId" />

                        <label asp-for="@Model.Media.MediaTranslations[i].Title" class="control-label"></label>
                        <input asp-for="@Model.Media.MediaTranslations[i].Title" class="form-control" />
                        <span asp-validation-for="@Model.Media.MediaTranslations[i].Title" class="text-danger"></span>

                        <label asp-for="@Model.Media.MediaTranslations[i].Description" class="control-label"></label>
                        <input asp-for="@Model.Media.MediaTranslations[i].Description" class="form-control" />
                        <span asp-validation-for="@Model.Media.MediaTranslations[i].Description" class="text-danger"></span>

                        <label asp-for="@Model.Media.MediaTranslations[i].Url" class="control-label"></label>
                        <input asp-for="@Model.Files[Model.Media.MediaTranslations[i].LanguageId]" type="file" class="form-control" accept="audio/*,video/*,image/*,MIME_type" id='@($"select_file_{ Enum.GetName<LanguageEnum>(Model.Media.MediaTranslations[i].LanguageId)}")' />
                        <input hidden name="Files[@Model.Media.MediaTranslations[i].LanguageId].Key" value="@Model.Media.MediaTranslations[i].LanguageId" />
                        <span asp-validation-for="@Model.Media.MediaTranslations[i].Url" class="text-danger"></span>
                        <div id='@($"preview_file_{ Enum.GetName<LanguageEnum>(Model.Media.MediaTranslations[i].LanguageId)}")' class="preview">
                            <p>No files currently selected for upload</p>
                        </div>
                    </div>
                }
                <input type="submit" class="btn btn-primary m-3" value="Create" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function clearall()
        {
            var values = @(Json.Serialize(Enum.GetNames<LanguageEnum>()));
            for(var item of values)
            {
                $(`#lang_nav_${item}`).removeClass("active");
                $(`#lang_body_${item}`).attr("hidden", "");
            }
        };

        function getactivetab() {
            var values = @(Json.Serialize(Enum.GetNames<LanguageEnum>()));
            for(var item of values)
            {
                if($(`#lang_nav_${item}`).hasClass("active"))
                    return item;
            }
        };

        $(document).ready(function () {
            clearall();
            $('@($"#lang_nav_{Enum.GetNames<LanguageEnum>().First()}")').addClass("active");
            $('@($"#lang_body_{Enum.GetNames<LanguageEnum>().First()}")').removeAttr("hidden");
            @foreach (var item in Enum.GetNames<LanguageEnum>())
            {
                @:$('@($"#lang_nav_{item}")').on("click", function()
                @:{
                    @:clearall();
                    @:$('@($"#lang_nav_{item}")').addClass("active");
                    @:$('@($"#lang_body_{item}")').removeAttr("hidden");
                @:});
                @:$('@($"#select_file_{item}")').on('change', function () {
                    @:var preview = $(`#preview_file_${getactivetab()}`);
                    @:preview.children().remove();
                    @:var img = $("<img>");
                    @:img.attr("src", window.URL.createObjectURL(this.files[0]));
                    @:img.addClass("img-fluid p-3");
                    @:preview.prepend(img);
                @:});
            }
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}