@page "{mediaid}"
@model Admin.Pages.Medias.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    @foreach (var trans in Model.Media.Translations)
                    {
                        <li class="nav-item">
                            <a id='@($"lang_nav_{trans.LanguageId}")' data-lang='@trans.LanguageId' class="nav-link lang_nav" aria-current="true" href="#">@trans.LanguageId</a>
                        </li>
                    }
                </ul>
            </div>
            <input hidden asp-for="@Model.Media.MediaType" />
          
            @foreach (var trans in Model.Media.Translations)
            {
                string src = $"/{Model.Media.MediaType}/{trans.Url}";

                <div id='@($"lang_body_{trans.LanguageId}")' data-lang='@(trans.LanguageId)' class="lang_body card-body">
                    <label asp-for="@trans.Title" class="control-label"></label>
                    <span asp-for="@trans.Title" class="form-control">@trans.Title</span>

                    <label asp-for="@trans.Description" class="control-label"></label>
                    <textarea rows="3" class="form-control">@trans.Description</textarea>

                    <label asp-for="@trans.Url" class="control-label d-block"></label>
                    
                    @if (Model.Media.MediaType == MediaType.Photo)
                    {
                        <img class="img-fluid" src="@src" />
                    }
                    @if (Model.Media.MediaType == MediaType.Audio)
                    {
                        <audio src="@src" controls></audio>
                    }
                    @if (Model.Media.MediaType == MediaType.Video)
                    {
                        <video class="form-control img-fluid" src="@src" controls></video>
                    }
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/media.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(initTabs());
    </script>
}