@page "{mediaid}"
@model Admin.Pages.Medias.DetailsModel
@{
    ViewData["Title"] = "Details";
}
@{
    string GetMediaPath(int index)
    {
        return Model.ClassNameToDirectory(Model.MediaTypeIdToClassName(Model.Media.MediaTypeId)) + '/' + Model.Media.MediaTranslations[index].Url;
    }
}
<h1>Details</h1>

<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    @foreach (var item in Model.ActiveLanguages)
                    {
                        var strItem = Model.LanguageIdToCode(item);
                        <li class="nav-item">
                            <a id='@($"lang_nav_{strItem}")' data-lang='@strItem' class="nav-link lang_nav" aria-current="true" href="#">@strItem</a>
                        </li>
                    }
                </ul>
            </div>
            <input hidden asp-for="@Model.Media.MediaTypeId" />
            @for (var i = 0; i < Model.Media.MediaTranslations.Count; i++)
            {
                var lang = @Model.LanguageIdToCode(Model.Media.MediaTranslations[i].LanguageId);
                <div id='@($"lang_body_{lang}")' data-lang='@(lang)' class="lang_body card-body">
                    <label asp-for="@Model.Media.MediaTranslations[i].Title" class="control-label"></label>
                    <span asp-for="@Model.Media.MediaTranslations[i].Title" class="form-control">@Model.Media.MediaTranslations[i].Title</span>

                    <label asp-for="@Model.Media.MediaTranslations[i].Description" class="control-label"></label>
                    <textarea rows="3" class="form-control">@Model.Media.MediaTranslations[i].Description</textarea>

                    <label asp-for="@Model.Media.MediaTranslations[i].Url" class="control-label d-block"></label>
                    @if (Model.Media.MediaTypeId == MediaTypeEnum.Photo)
                    {
                        <img class="img-fluid" src="~/@GetMediaPath(i)" />
                    }
                    @if (Model.Media.MediaTypeId == MediaTypeEnum.Audio)
                    {
                        <audio src="~/@GetMediaPath(i)" controls></audio>
                    }
                    @if (Model.Media.MediaTypeId == MediaTypeEnum.Video)
                    {
                        <video class="form-control" src="~/@GetMediaPath(i)" controls></video>
                    }
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/media.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(initTabs());
    </script>
}