@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions


@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => c.Name)
        .ToList();
}
<ul class="navbar-nav align-items-center">
    <li class="nav-item">
        <form asp-route="language"
              asp-route-returnUrl="@Context.Request.Path"
              method="post" class="form-inline">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                @foreach (var item in cultureItems)
                {
                    <input onchange="this.form.submit();" type="radio" class="btn-check" name="culture" id="@item" autocomplete="off" value="@item" checked="@(requestCulture.RequestCulture.UICulture.Name == item)">
                    <label class="btn btn-outline-primary" for="@item">@item</label>
                }
            </div>
        </form>
    </li>
</ul>